<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div id="header">
  <div id="logo"><a href="/"><img src="../assets/images/logo.png" title="Your Store" alt="Your Store"></a></div>
  <!-- <div id="cart">
    <div class="heading">
      <h4>Shopping Cart</h4>
      <a><span id="cart-total">0 item(s) - $0.00</span></a>
    </div>
    <div class="content">
      <div class="empty">Your shopping cart is empty!</div>
    </div>
  </div>
 -->

    <%= search_form_for @search, url: books_path do |f| %>
      <div id="search">
        <div id="search-input"><%= f.text_field :title_cont, placeholder: "Input book name" %></div>
      </div>
      <div id="search-button"><%= f.submit "Search" %></div>
    <% end %>


  <div id="welcome" >
    <div id="user_nav">
      <% if !user_signed_in? %>
        Welcome visitor you can <%= link_to "log in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %>
      <% else %>
        Welcome my friend <%= current_user.email %>.
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
  <div class="links">
    <a href="/">Home</a>
    <% if user_signed_in? %>
      <%= link_to "Wish List", user_path(current_user) %>
      <%= link_to "My Account", user_path(current_user) %>
      <% if current_user.role == "admin" %>
        <a><%= link_to "Manage Book", admin_books_path %></a>
        <a><%= link_to "Add New Book", new_admin_book_path %></a>
      <% end %>
    <% end %>
    <a><%= link_to "All Book", books_path %></a>

  </div>
  <div id="menu">
    <ul style="display: block;">
      <li><a href="#">LITERATURE</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Domestic Literature", books_path(type: "domestic-literature") %></li>
            <li><%= link_to "Foreign Literature", books_path(type: "foreign-literature") %></li>
            <li><%= link_to "Fiction", books_path(type: "fiction") %></li>
            <li><%= link_to "Romance", books_path(type: "romance") %></li>
            <li><%= link_to "History", books_path(type: "history") %></li>
            <li><%= link_to "Poetry", books_path(type: "poetry") %></li>
            <li><%= link_to "Short stories", books_path(type: "short-stories") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">ECONOMY</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Marketing", books_path(type: "marketing") %></li>
            <li><%= link_to "Financial-Currency", books_path(type: "financial-currency") %></li>
            <li><%= link_to "Low", books_path(type: "low") %></li>
            <li><%= link_to "Economic Investment", books_path(type: "economic-investment") %></li>
            <li><%= link_to "Famous", books_path(type: "famous") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">IT BOOK'S</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Computer Science", books_path(type: "computer-science") %></li>
            <li><%= link_to "Information System", books_path(type: "information-system") %></li>
            <li><%= link_to "Internet", books_path(type: "internet") %></li>
            <li><%= link_to "Software Technology", books_path(type: "software-technology") %></li>
            <li><%= link_to "Computer Engineering", books_path(type: "computer-engineering") %></li>
            <li><%= link_to "Hacker", books_path(type: "hacker") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">CHILDREN'S</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Natural Sciences", books_path(type: "natural-science") %></li>
            <li><%= link_to "Social Sciences", books_path(type: "social-sciences") %></li>
            <li><%= link_to "Foreign Language", books_path(type: "foreign-language") %></li>
            <li><%= link_to "Manga", books_path(type: "manga") %></li>
            <li><%= link_to "Arts", books_path(type: "arts") %></li>
            <li><%= link_to "Negative", books_path(type: "negative") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">LIFE BOOK'S</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Mystical science books", books_path(type: "mystical-science-books") %></li>
            <li><%= link_to "Family Cookbook", books_path(type: "family-cookbook") %></li>
            <li><%= link_to "Historical geography", books_path(type: "historical-geography") %></li>
            <li><%= link_to "Agriculture and forestry", books_path(type: "agriculture-and-forestry") %></li>
            <li><%= link_to "Sports Books", books_path(type: "sports-books") %></li>
            <li><%= link_to "Political books-philosophy", books_path(type: "political-books-philosophy") %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

