<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div id="header">
  <div id="logo"><a href="/"><img src="../assets/images/logo.png" title="Your Store" alt="Your Store"></a></div>
  <div id="cart">
    <div class="heading">
      <h4>Shopping Cart</h4>
      <a><span id="cart-total">0 item(s) - $0.00</span></a>
    </div>
    <div class="content">
      <div class="empty">Your shopping cart is empty!</div>
    </div>
  </div>
  <div id="search">
    <div class="button-search"></div>
    <input name="search" placeholder="Search" type="text">
  </div>
  <div id="welcome" >
    <div id="user_nav">
      <% if !user_signed_in? %>
        Welcome visitor you can <%= link_to "log in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %>
      <% else %>
        Welcome my friend <%= current_user.email %>.
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="#">Wish List (0)</a>
    <a href="#">My Account</a>
    <a href="#">Shopping Cart</a>
    <a><%= link_to "All Book", books_path %></a>
    <a><%= link_to "Manage Book", admin_books_path %></a>
  </div>
  <div id="menu">
    <ul style="display: block;">
      <li><a href="#">LITERATURE</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Domestic Literature", admin_books_path(type: "domestic-literature") %></li>
            <li><%= link_to "Foreign Literature", admin_books_path(type: "foreign-literature") %></li>
            <li><%= link_to "Fiction", admin_books_path(type: "fiction") %></li>
            <li><%= link_to "Romance", admin_books_path(type: "romance") %></li>
            <li><%= link_to "History", admin_books_path(type: "history") %></li>
            <li><%= link_to "Poetry", admin_books_path(type: "poetry") %></li>
            <li><%= link_to "Short stories", admin_books_path(type: "short-stories") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">ECONOMY</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Marketing", admin_books_path(type: "marketing") %></li>
            <li><%= link_to "Financial-Currency", admin_books_path(type: "financial-currency") %></li>
            <li><%= link_to "Low", admin_books_path(type: "low") %></li>
            <li><%= link_to "Economic Investment", admin_books_path(type: "economic-investment") %></li>
            <li><%= link_to "Famous", admin_books_path(type: "famous") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">IT BOOK'S</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Computer Science", admin_books_path(type: "computer-science") %></li>
            <li><%= link_to "Information System", admin_books_path(type: "information-system") %></li>
            <li><%= link_to "Internet", admin_books_path(type: "internet") %></li>
            <li><%= link_to "Software Technology", admin_books_path(type: "software-technology") %></li>
            <li><%= link_to "Computer Engineering", admin_books_path(type: "computer-engineering") %></li>
            <li><%= link_to "Hacker", admin_books_path(type: "hacker") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">CHILDREN'S</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Natural Sciences", admin_books_path(type: "natural-science") %></li>
            <li><%= link_to "Social Sciences", admin_books_path(type: "social-sciences") %></li>
            <li><%= link_to "Foreign Language", admin_books_path(type: "foreign-language") %></li>
            <li><%= link_to "Manga", admin_books_path(type: "manga") %></li>
            <li><%= link_to "Arts", admin_books_path(type: "arts") %></li>
            <li><%= link_to "Negative", admin_books_path(type: "negative") %></li>
          </ul>
        </div>
      </li>
      <li><a href="#">LIFE BOOK'S</a>
        <div style="">
          <ul style="">
            <li><%= link_to "Mystical science books", admin_books_path(type: "mystical-science-books") %></li>
            <li><%= link_to "Family Cookbook", admin_books_path(type: "family-cookbook") %></li>
            <li><%= link_to "Historical geography", admin_books_path(type: "historical-geography") %></li>
            <li><%= link_to "Agriculture and forestry", admin_books_path(type: "agriculture-and-forestry") %></li>
            <li><%= link_to "Sports Books", admin_books_path(type: "sports-books") %></li>
            <li><%= link_to "Political books-philosophy", admin_books_path(type: "political-books-philosophy") %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
